# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class
build/
dist/
wheels/
*.egg-info/
*.egg

# ----------------------
# Virtual Environments
# ----------------------
.venv/
env/
venv/

# ----------------------
# Django
# ----------------------
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# ----------------------
# Environment Variables
# ----------------------
.env
.env.*

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# OS
# ----------------------
.DS_Store

# ----------------------
# uv
# ----------------------
uv.lock
